{% extends 'base.html' %}

{% block body %}
{% endblock %}

{% block maintext %}
<div class="hero-body">
    <div class="container has-text-centered">
        <p class="title">CCF &#8644; CIC</p>
        <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Check Into Cash">
            </p>
            <p class="control">
              <button class="button is-success">
                Search
              </button>
            </p>
          </div>
    </div>
</div>
{% endblock %}