{% extends 'base.html' %}

{% block body%}

  

{% endblock %}

{% block maintext %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title"><a href="/tmx_spreadsheet" target="_blank" class=".hvr-underline-from-left">TMX</a></p>
            <p class="title"><a href="/src_spreadsheet" target="_blank" class=".hvr-underline-from-center">SRC</a></p>
            <p class="title"><a href="/cic_spreadsheet" target="_blank" class=".hvr-underline-from-right">CIC</a></p>
            <p class="subtitle py-6">(not in dark mode)</p>
        </div>
    </div>
{% endblock %}